n8n/workflows/modulo_de_identificacao.json
{
  "name": "modulo_de_identificacao",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7840f3ea-bf21-4421-a922-a339ca72f0d1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18uRJxXWtMCnMrdXgqGjmgVQkDM1H7jO2SKBw9FAMOnU",
          "mode": "list",
          "cachedResultName": "Seazone Sia Expansão De Terrenos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18uRJxXWtMCnMrdXgqGjmgVQkDM1H7jO2SKBw9FAMOnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 723873720,
          "mode": "list",
          "cachedResultName": "corretores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18uRJxXWtMCnMrdXgqGjmgVQkDM1H7jO2SKBw9FAMOnU/edit#gid=723873720"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $('When Executed by Another Workflow').item.json.body.email }}",
            "NOME": "={{ $('When Executed by Another Workflow').item.json.body.nome }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        176
      ],
      "id": "5bdd9962-12a3-4ab9-8b3b-fa92e076c2c1",
      "name": "REGISTRA O CORRETOR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UcPwnpTHvquS0sH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18uRJxXWtMCnMrdXgqGjmgVQkDM1H7jO2SKBw9FAMOnU",
          "mode": "list",
          "cachedResultName": "Seazone Sia Expansão De Terrenos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18uRJxXWtMCnMrdXgqGjmgVQkDM1H7jO2SKBw9FAMOnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 723873720,
          "mode": "list",
          "cachedResultName": "corretores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18uRJxXWtMCnMrdXgqGjmgVQkDM1H7jO2SKBw9FAMOnU/edit#gid=723873720"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "EMAIL",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        0
      ],
      "id": "6fea22ef-67c5-4322-ac0c-f7e375d74e4c",
      "name": "BUSCAR CORRETOR PELO EMAIL",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UcPwnpTHvquS0sH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "39a4705f-6938-403e-a2b3-6a4f07d33da4",
              "leftValue": "={{ $json?.row_number > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        0
      ],
      "id": "962011dd-d96e-4e78-adf4-a5d5404a0152",
      "name": "CORRETOR JÁ REGISTRADO?",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "BUSCAR CORRETOR PELO EMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR CORRETOR PELO EMAIL": {
      "main": [
        [
          {
            "node": "CORRETOR JÁ REGISTRADO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORRETOR JÁ REGISTRADO?": {
      "main": [
        [],
        [
          {
            "node": "REGISTRA O CORRETOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRA O CORRETOR": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "691a002b-11dd-43c0-9b46-a0da9c28cb75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd4f821d851fcb7f7f491df20278d975b1d51b38ba5912e4bbf6cb5cd7337f9b"
  },
  "id": "Ug5fACVQcGXoYF07",
  "tags": []
}